.classpath
.project
.settings
target
work
web-app/WEB-INF/tld
target-eclipse
.DS_Store
src/test/resources/report
instanceMetrics
src/java/ice.properties
src/test/resources/prices_*
src/test/resources/ice.properties
src/test/data
test.xml
