swagger: '2.0'
info:
  title: Netflix/ICE Data API
  version: '3.0'
host: ec2-34-195-35-246.compute-1.amazonaws.com
basePath: /ice/dashboard
schemes:
  - https
securityDefinitions:
  ice_auth:
    type: basic
security:
  - ice_auth: []
consumes:
  - application/json
produces:
  - application/json
definitions:
  Name:
    type: object
    properties:
      name:
        type: string
  Names:
    type: array
    items:
      $ref: '#/definitions/Name'
  NamesResponse:
    type: object
    properties:
      status:
        type: number
      data:
        $ref: '#/definitions/Names'
parameters:
  accountParam:
    name: account
    in: query
    description: Comma separated list of account names.
    type: array
    items:
      type: string
    required: false
  regionParam:
    name: region
    in: query
    type: array
    items:
      type: string
    description: Comma separated list of region names.
    required: false
  productParam:
    name: product
    in: query
    description: Comma separated list of product names.
    type: array
    items:
      type: string
    required: false
  operationParam:
    name: operation
    in: query
    description: Comma separated list of operation names.
    type: array
    items:
      type: string
    required: false
  resourcesParam:
    name: resources
    in: query
    description: If true, only return product names that can have tagged resources.
    type: boolean
    required: false
  showZonesParam:
    name: showZones
    in: query
    type: boolean
    required: false

paths:
  /getAccounts:
    get:
      description: Get the list of accounts.
      operationId: getAccounts
      responses:
        '200':
          description: getAccounts response
          schema:
            $ref: '#/definitions/NamesResponse'

  /getRegions:
    get:
      description: Get the list of regions used by the supplied accounts.
      operationId: getRegions
      parameters:
        - $ref: '#/parameters/accountParam'
      responses:
        '200':
          description: collection of regions
          schema:
            $ref: '#/definitions/NamesResponse'

  /getZones:
    get:
      description: Get the list of zones used by all accounts.
      operationId: getZones
      responses:
        '200':
          description: collection of zones
          schema:
            $ref: '#/definitions/NamesResponse'
            
  /getProducts:
    get:
      description: Get the list of products used by the supplied accounts in the specified regions.
      operationId: getProducts
      parameters:
        - $ref: '#/parameters/accountParam'
        - $ref: '#/parameters/regionParam'
        - $ref: '#/parameters/operationParam'
        - $ref: '#/parameters/resourcesParam'
        - $ref: '#/parameters/showZonesParam'
      responses:
        '200':
          description: collection of products
          schema:
            $ref: '#/definitions/NamesResponse'

  /getResourceGroups:
    get:
      description: Get the list of resource groups for the requested accounts, products, and regions.
      operationId: getResourceGroups
      parameters:
        - $ref: '#/parameters/accountParam'
        - $ref: '#/parameters/regionParam'
        - $ref: '#/parameters/productParam'
      responses:
        '200':
          description: collection of resource groups
          schema:
            $ref: '#/definitions/NamesResponse'
  
  /userTags:
    get:
      description: Get the list of user tag names.
      operationId: getUserTags
      responses:
        '200':
          description: collection of tag keys
          schema:
            $ref: '#/definitions/NamesResponse'

  /userTagValues:
    post:
      description: Get the list of values for a given user tag.
      operationId: getUserTagValues
      parameters:
        - name: userTagValuesRequest
          in: body
          required: true
          schema:
            type: object
            properties:
              index:
                description: tag index in list returned by userTags
                type: number
              account:
                description: Comma separated list of account names
                type: string
              region:
                description: Comma separated list of region names
                type: string
              zone:
                description: Comma separated list of zone names
                type: string
              product:
                description: Comma separated list of product names
                type: string
            required: [index]
      responses:
        '200':
          description: collection of user tag values used for tagable resources
          schema:
            $ref: '#/definitions/NamesResponse'

  /getOperations:
    post:
      description: Get the list of operations for the supplied products used by the provided accounts in the specified regions.
      parameters:
        - name: operationsRequest
          in: body
          required: true
          schema:
            type: object
            properties:
              account:
                description: Comma separated list of account names
                type: string
              region:
                description: Comma separated list of region names
                type: string
              zone:
                description: Comma separated list of zone names
                type: string
              product:
                description: Comma separated list of product names
                type: string
              resources:
                description: If true, only return product names that can have tagged resources.
                type: boolean
              forReservations:
                type: boolean
              usage_cost:
                description: If "cost" remove Lent operations. If "usage" remove Amortization and Savings operations.
                type: string
      responses:
        '200':
          description: collection of operations
          schema:
            $ref: '#/definitions/NamesResponse'

  /getUsageTypes:
    post:
      description: Get the list of usage types for the accounts, regions, products, and operations provided.
      parameters:
        - name: usageTypesRequest
          in: body
          required: true
          schema:
            type: object
            properties:
              account:
                description: Comma separated list of account names
                type: string
              region:
                description: Comma separated list of region names
                type: string
              zone:
                description: Comma separated list of zone names
                type: string
              product:
                description: Comma separated list of product names
                type: string
              operation:
                description: Comma separated list of operation names
                type: string
              resources:
                description: If true, only return product names that can have tagged resources.
                type: boolean
              showResourceGroups:
                type: boolean
      responses:
        '200':
          description: collection of usage types
          schema:
            $ref: '#/definitions/NamesResponse'

  /getReservationOps:
    get:
      description: Get the list of operations to use for requests in the reservations dashboard.
      responses:
        '200':
          description: collection of operations
          schema:
            $ref: '#/definitions/NamesResponse'

  /getUtilizationOps:
    get:
      description: Get the list of operations to use for requests in the utilization dashboard.
      responses:
        '200':
          description: collection of operations
          schema:
            $ref: '#/definitions/NamesResponse'
  /tags:
    get:
      description: Get the list of custom tags for which we have coverage data
      responses:
        '200':
          description: collection of tag names
          schema:
            $ref: '#/definitions/NamesResponse'
  /getData:
    post:
      description: Get the data for the requested cost or usage.
      parameters:
        - name: dataRequest
          in: body
          description: data request parameters
          required: true
          schema:
            description: user tag values params use the name "tag-[name]", e.g. "tag-Product"
            type: object
            properties: 
              isCost:
                type: boolean
                description: Cost = true, Usage = false (default = true)
              usageUnit:
                type: string
                description: default = Instances
                enum: [Instances, ECUs, vCPUs, Normalized]
              aggregate:
                type: string
                description: default = none
                enum: [none, stats, data, both]
              groupBy:
                description: Dimension to use for aggregation buckets (default = none)
                type: string
                enum: [None, Account, Region, Zone, ResourceGroup, Product, Operation, UsageType, Tag]
              consolidate:
                type: string
                description: default = hourly
                enum: [monthly, weekly, daily, hourly]
              start:
                type: string
              end:
                type: string
              breakdown:
                description: Produce data for breakdown by resource (default = false)
                type: boolean
              showsps:
                type: boolean
                description: default = false
              factorsps:
                type: boolean
                description: default = false
              consolidateGroups:
                description: Consolidate EC2/RDS/Redshift instance usage types of the same family into a single type or operation types into Savings, RIs, Amortized RIs, and Unused RIs
                type: boolean
              forReservation:
                type: boolean
                description: Requesting data for the Reservation dashboard. Includes Savings and Lent Opertions. (default = false)
              elasticity:
                type: boolean
              showZones:
                type: boolean
              showResourceGroups:
                type: boolean
              spans:
                type: integer
              tagCoverage:
                description: If true, return data on tag coverage for resources
                type: boolean
              tag:
                description: Comma separated list of tags for tag coverage data
                type: string
              account:
                description: Comma separated list of account names for filtering data
                type: string
              region:
                description: Comma separated list of region names for filtering data
                type: string
              product:
                description: Comma separated list of product names for filtering data
                type: string
              resourceGroup:
                description: Comma separated list of resourceGroup names for filtering data
                type: string
              operation:
                description: Comma separated list of operation names for filtering data
                type: string
              usageType:
                description: Comma separated list of usageType names for filtering data
                type: string
              groupByTag:
                description: When groupBy is set to Tag, indicates which user tag to use for aggregation buckets
                type: string
            additionalProperties:
                description: Comma separated list of values for the specified user tag. Parameter name takes the form tag-<name>
                type: string
            required: [start, end]
      responses:
        '200':
          description: data collection
          schema:
            type: object
            properties:
              status:
                type: number
              start:
                type: number
              data:
                type: object
              stats:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    min:
                      type: number
                    max:
                      type: number
                    total:
                      type: number
                    average:
                      type: number
              groupBy:
                type: string
              interval:
                type: integer
  /getTimeSpan:
    get:
      description: Get the start and end times for the requested number of spans.
      parameters:
        - name: spans
          in: query
          description: number of spans
          type: integer
          required: true
        - name: end
          in: query
          description: end time
          type: string
          required: true
        - name: consolidate
          in: query
          description: consolidation period
          type: string
          enum:
            - daily
            - hourly
            - weekly
            - monthly
          required: true
      responses:
        '200':
          description: time span response
          schema:
            type: object
            properties:
              status:
                type: integer
              start:
                type: string
              end:
                type: string

  /instance:
    get:
      description: Get information about an AWS resource instance (e.g. EC2, RDS, etc...).
      parameters:
        - name: id
          in: query
          description: AWS ID of the instance
          type: string
          required: true
      responses:
        '200':
          description: instance information
          schema:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              accountId:
                type: string
              accountName:
                type: string
              region:
                type: string
              zone:
                type: string
              tags:
                type: object
                additionalProperties:
                  type: string
        '404':
          description: not found error


